@{
    ViewBag.Title = "About 'My Book Library'";
}
<h2>@ViewBag.Title</h2>


<p>This application is my attempt to begin cataloging my personal library starting with a few of my favorites. Eventually I'd like to add my CD and movies to this as well.
</p>
