@{
    ViewBag.Title = "About 'My Book Library'";
}
<h2>@ViewBag.Title</h2>


<!--This is a description of the project.-->

<p>
    
    This application is my attempt to begin cataloging my personal library starting with a few of my favorite books.

</p>
<p>    
    Eventually this project will have an 'Authors' and 'Description' page. This may even motivate me to add my CDs and movies as well.
</p>
