@{
    ViewBag.Title = "Home Page";
}

<!--My home page.-->
<div class="jumbotron">
    <h1>My Book Library</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to My Book Library!</h2>
        <p>
            
        </p>
     </div>
</div>

